@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@font-face {
  font-family: "Fontspring";
  src: local("Fontspring"), url("../fonts/Fontspring-DEMO-theseasons-bd.woff2") format("woff2"), url("../fonts/Fontspring-DEMO-theseasons-bd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTNorms-Medium";
  src: local("TTNorms-Medium"), local("TTNorms-Medium"), url("../fonts/TTNorms-Medium.woff2") format("woff2"), url("../fonts/TTNorms-Medium.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTNorms-Regular";
  src: local("TTNorms-Regular"), local("TTNorms-Regular"), url("../fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

.w-80 {
  width: 80%;
}

.visible-sm {
  display: none;
}

.visible-lg {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

@media (max-width: 575.98px) {
  .hide-sm {
    display: none;
  }
  .visible-sm {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .visible-lg {
    display: block;
  }
  .hide-lg {
    display: none;
  }
}

.body {
  background: #141414;
  font-family: "TTNorms-Regular", sans-serif;
  color: #fff;
}

.block-header {
  color: #fff;
  text-transform: uppercase;
}

.block-header__1 {
  font-family: "Fontspring", sans-serif;
  font-size: 150px;
  margin-top: 30px;
  margin-bottom: -10px;
}

.block-header__2 {
  font-size: 40px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  color: #f9f9f9;
}

.text-separate {
  background-color: #c73d3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c73d3b), color-stop(50%, #c73d3b), to(#49201f));
  background-image: linear-gradient(180deg, #c73d3b 0%, #c73d3b 50%, #49201f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-separate__simple {
  color: #EB5251;
}

.slogan-text {
  font-family: "TTNorms-Regular", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 80px;
}

.thumbnail {
  position: relative;
  margin-bottom: 70px;
}

.thumbnail::after {
  content: "";
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.thumbnail img {
  width: 100%;
}

.thumbnail-semicircle img {
  border-radius: 50% 50% 0 0;
}

.thumbnail-bg__type-1::after {
  background-image: url("../img/bg_type-1.svg");
  width: 135%;
}

.thumbnail-bg__type-2::after {
  left: 7%;
  top: -5.5%;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #fff;
  opacity: 0.5;
}

.thumbnail-bg__type-3::after {
  left: -7%;
  top: -5.5%;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #C24343;
}

.thumbnail-bg__type-4::after {
  left: 7%;
  top: -5.5%;
  -webkit-transform: none;
          transform: none;
  border: 2px solid #fff;
  border-radius: 400px 400px 0 0;
  opacity: 0.5;
}

.content-title {
  font-family: "TTNorms-Medium", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.content-text {
  font-size: 17px;
  margin-bottom: 30px;
  width: 80%;
}

.content-button {
  background-color: #C73D3B;
  padding: 15px 50px;
  border: none;
  color: #fff;
  font-size: 17px;
}

@media (max-width: 1399.98px) {
  .block-header__1 {
    font-size: 129px;
  }
  .block-header__2 {
    font-size: 35px;
  }
  .slogan-text {
    font-size: 14px;
  }
  .content-title {
    font-size: 17px;
  }
  .content-text {
    font-size: 16px;
  }
}

@media (max-width: 1199.98px) {
  .block-header__1 {
    font-size: 108px;
  }
  .block-header__2 {
    font-size: 30px;
  }
  .slogan-text {
    font-size: 11.8px;
  }
  .content-title {
    font-size: 15px;
    margin-bottom: 9px;
  }
  .content-text {
    font-size: 14px;
    margin-bottom: 22px;
  }
}

@media (max-width: 991.98px) {
  .hide-col {
    display: none;
  }
  .block-header__1 {
    font-size: 88px;
    margin-bottom: 0;
    margin-top: 15px;
  }
  .content-title {
    margin-bottom: 12px;
  }
  .content-text {
    margin-bottom: 35px;
    width: 90%;
  }
  .thumbnail {
    width: 90%;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .block-header__1 {
    font-size: 65px;
  }
  .block-header__2 {
    font-size: 25px;
  }
  .slogan-text {
    font-size: 10px;
  }
  .content-title {
    font-size: 12px;
  }
  .content-text {
    font-size: 11px;
  }
  .content-button {
    font-size: 15px;
    padding: 10px 30px;
  }
}

@media (max-width: 575.98px) {
  .block-header__1 {
    font-size: 11vw;
  }
  .block-header__2 {
    font-size: 24px;
  }
  .slogan-text {
    display: none;
  }
  .thumbnail {
    width: 100%;
  }
  .content-title {
    font-size: 15px;
    margin-bottom: 7px;
  }
  .content-text {
    font-size: 15px;
    width: 100%;
  }
}
